@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
button,
input[type="text"],
select {
    padding: 0 2px;
    margin: 2px;
    border-radius: 4px;
    font-size: 16px;
}
body,
button,
html,
select {
    font-weight: 400;
    font-style: normal;
    font-family: apparat-light, serif;
}
button:active,
button:disabled {
    background-color: rgba(255, 255, 255, 0.3);
}
body,
button,
html,
input[type="text"],
select {
    font-family: apparat-light, serif;
}
#toolbar,
body,
button,
html,
input[type="text"],
select {
    font-style: normal;
}
.help-window-header_title{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.help-window-header{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #39138F;
    margin-bottom: 10px;
}
.help-shortcuts{text-align: left;}
.help-shortcuts_title{padding-bottom: 10px;}
.help-shortcuts_title h3{
    font-family: Open Sans;
    font-size: 18.91px;
    font-weight: 800;
    line-height: 28.37px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0DB14B;
    margin: 0;
}
.keyboard-shortcuts{padding-top: 40px;}
.keyboard-shortcuts_main_title{
    text-align: left;
    padding-bottom: 6px;
    border-bottom: 2px solid #39138F;
    margin-bottom: 14px;
}
.keyboard-shortcuts_main_title h3{
    font-family: Open Sans;
    font-size: 18.91px;
    font-weight: 800;
    line-height: 28.37px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #39138F;
    margin: 0;
}
.keyboard-shortcuts_content{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 48px;
    padding-bottom: 40px;
    border-bottom: 2px solid #39138F;
}
.keyboard-shortcuts_windows_list{
    margin: 0;
    padding: 0;
}
.keyboard-shortcuts_title{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.keyboard-shortcuts_title h3{
    font-family: Open Sans;
    font-size: 18.91px;
    font-weight: 800;
    line-height: 28.37px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0DB14B;
    margin: 0;
}
.help-shortcuts_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 0;
    margin: 0;
}
.keyboard-shortcuts_list_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #47DB7F;
}
.Windows-shortcuts{
    display: flex;
    align-items: center;
    gap: 7px;
}
.shortcut{
    width: 40px;
    height: 20px;
    background: linear-gradient(0deg, #47DB7F, #47DB7F),
    linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #013A54;
    text-align: center;
    font-family: Open Sans;
    font-size: 10.81px;
    font-weight: 400;
    line-height: 15.13px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #013A54;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.keyboard-shortcuts_title{padding-bottom: 20px;}
.shortcut_sm{
    width: 20px;
}
.help-shortcuts_list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    border-bottom: 1px solid #D2D8DF;
    padding: 6px 0;
}
.help-shortcuts_list li figure{
    margin: 0;
    flex: none;
    display: flex;
    gap: 8px;
}
.help-shortcuts_list li > img{flex: none;}
.help-shortcuts_list li h4{
    font-family: Open Sans;
    font-size: 13.51px;
    font-weight: 500;
    line-height: 20.26px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4B6480;
    margin: 0;
}
.help-window-header_contact,
.help-window-header h2{
    font-family: Open Sans;
    font-size: 18.91px;
    font-weight: 800;
    line-height: 28.37px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #39138F;
    margin: 0;
}
.close{flex: none;}
.help-window-header_contact{
    margin-top: 10px;
    text-decoration: underline;
    display: flex;
}
.help-window-header_contact:hover{color: #39138F;}
.small-swal {
    width: 500px !important;
    padding: 1rem !important;
}

.small-swal .swal2-title {
    font-size: 1.2rem !important;
    margin-bottom: 0.5rem !important;
}

.small-swal .swal2-content {
    font-size: 0.9rem !important;
}
.swal2-actions button{width: auto;}
.small-swal .swal2-icon {
    transform: scale(0.7);
    margin: 0.5rem auto !important;
}

.small-swal .swal2-actions {
    margin-top: 1rem !important;
}

.small-swal .swal2-confirm,
.small-swal .swal2-cancel {
    font-size: 0.9rem !important;
    padding: 0.5rem 1rem !important;
}
#help-window,
#toolbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#help-window,
#main-content,
#security-logo,
button,
select {
    text-align: center;
}
#pinned-list,
#results-list,
#tag-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
#tag-list,
.button-group,
.popup-content {
    display: flex;
    gap: 10px;
}
#toolbar,
a {
    color: #fff;
}
#tag-list li,
.close-btn,
.icon-button,
a {
    cursor: pointer;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #34323e;
    display: flex;
    flex-direction: column;
}
#toolbar{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px;
    box-shadow: 0px 4px 10px 0px #0000003D;
    background: #333639;
}
#search-results{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E7E7E7;
}
#search-results-container button,
#toolbar button{
    width: initial;
    border: initial;
    border-radius: initial;
    background-color: initial;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.folder-select{display: flex;}
#folder-select{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.main-logo{
    margin: 0 auto 0 0;
    display: flex;
}
.main-logo a{width: 32px;}
.document-select{
    display: flex;
    align-items: center;
    gap: 8px;
}
.line{
    width: 1px;
    height: 16px;
    background: #FFFFFFCC;
    display: flex;
}
.pages{
    display: flex;
    align-items: center;
    gap: 16px;
}
#add-tag,
#flag-doc,
#rotate,
.zoom button,
.pages button{height: 24px;}
.zoom span,
.pages span{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.toolbar-button{
    display: flex;
    align-items: center;
    gap: 16px;
}
#toolbar .button{
    display: flex;
    align-items: center;
    padding: 8px;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 13.62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    border: 1px solid #FFFFFFCC;
    background: #0DB14B;
    border-radius: 4px;
    height: 30px;
    min-width: 131px;
}
#toolbar .button-download{background: #39138F;}
.toolbar-right-area{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}
.button span{margin: 0 auto;}
.zoom{
    display: flex;
    align-items: center;
    gap: 16px;
}
.document-select button{
    height: 24px;
}
.document-select #document-select{
    width: 148px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 2px 7px;
    height: 24px;
    background-color: transparent;
    color: #fff;
    text-align: left;
}
.document-select #document-select option{color: #000;}
/* .document-select #document-select option{color: #000;} */
#docreview-logo img {
    border-radius: 10px;
    width: 250px;
}
#content {
    display: flex;
    height: calc(100% - 50px);
    overflow: hidden;
    padding-top: 40px;
}
#main-content {
    flex-grow: 1;
    overflow: auto;
    position: relative;
}
#docx-viewer,
#image-viewer,
#pdf-viewer,
#txt-viewer,
#xlsx-viewer {
    width: 8.5in;
    height: 11in;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}
#pdf-viewer canvas {
    width: 100%;
    height: 100%;
}
#docx-viewer,
#txt-viewer,
#xlsx-viewer {
    background-color: #fff;
    overflow-y: auto;
    text-align: left;
}
#image-viewer {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center;
    transition: transform 0.2s;
}
#security-logo img {
    width: 100px;
}
input[type="text"] {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}
button {
    width: 45px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
#document-select{
    border: 2px solid #fff;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
button:disabled {
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
}
::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: apparat-light, serif;
    font-weight: 700;
    font-style: normal;
    opacity: 1;
}
::-ms-input-placeholder {
    font-family: apparat-light, serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}
#document-select,
#help-window,
a {
    font-family: apparat-light, serif;
    font-weight: 400;
    font-style: normal;
}
#help-window,
#tag-popup {
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}
#search-results-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden auto;
    position: relative;

    /* width: 348px; */
    box-shadow: 0px 1px 5px 0px #00000024;
    background: #333639;
    padding: 24px 34px;
    color: #fff;
}
#pinned-docs h4,
#search-results h4{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px 0 0;
    color: #fff;
}
#pinned-docs h4{margin: 0 0 20px;}
#results-list{
    margin-top: 20px;
    max-height: 200px;
    overflow: hidden auto;
}
#results-list:empty{display: none;}
#results-list li a{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: flex;
    word-break: break-word;
}
.pinned-checkbox,
#select-all-pinned{
    margin: 0 10px 0 0;
    border: 1px solid #fff;
}
.pinned-checkbox + span{
    max-width: 113px;
    display: inline-flex;
    word-break: break-word;
}
#pinned-list{
    padding-bottom: 30px;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 30px;
}
#pinned-list li{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #E7E7E7;
}
#pinned-list li ~ li{
    border-color:#fff;
    margin-top: 10px;
    padding-top: 10px;
}
.pinned-checkbox + span,
#select-all-pinned + label{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.delete-pinned-docs{
    float: right;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
/* #pinned-list li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
} */
#pinned-list li:hover,
#results-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#docreview-logo {
    margin-bottom: 10px;
    margin-top: auto;
    text-align: right;
}
.remove-files-btn{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding-bottom: 30px;
}
#search-results-container .remove-files-btn button{
    width: 200px;
    padding: 7px 10px;
    border: 1px solid #FFFFFF;
    height: 30px;
    border-radius: 4px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
#search-results-container .remove-files-btn #remove-all-files{
    background: #F70707;
    border-color: #F70707;
}
#security-logo {
    align-self: self-end;
}
a {
    text-decoration: underline;
}
a:hover {
    color: #ff0;
}
#help-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-family: Arial, sans-serif;
}
#help-window.show {
    display: block;
    opacity: 1;
    visibility: visible;
}
#help-window .close {
    display: flex;
    cursor: pointer;
}
.help-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.help-section {
    width: 100%;
}
.help-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}
.help-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.help-section ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.help-section ul li svg {
    margin-right: 8px;
}
#keyboard-shortcuts {
    list-style-type: none;
    padding: 0;
}
#keyboard-shortcuts li {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.9rem;
    justify-content: space-between;
}
.shortcut-keys {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    justify-content: space-between;
    column-gap: 10px;
}
.shortcut-keys span {
    flex: 1;
}
.shortcut-keys strong {
    background-color: #e9ecef00;
    padding: 3px 6px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
}
.shortcut-description {
    color: #555;
    font-size: 0.9em;
}
.mac,
.windows {
    display: inline-block;
    width: 48%;
}
#help-window button:hover {
    opacity: 0.8;
}
.help-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.help-overlay.show {
    display: block;
}
#tag-popup {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    z-index: 10;
    font-family: Arial, sans-serif;
}
#tag-popup h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
.popup-content {
    flex-direction: column;
}
.button-group {
    justify-content: space-between;
}
.icon-button {
    background: 0 0;
    border: none;
    font-size: 18px;
    transition: transform 0.3s;
    color: #555;
    display: flex;
    align-items: center;
}
#tag-color,
#tag-input {
    padding: 5px;
    border-radius: 5px;
}
.icon-button:hover {
    transform: scale(1.2);
}
.close-btn {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #f33;
}
#tag-input {
    border: 1px solid #ccc;
    color: #000;
}
#tag-color {
    border: 1px solid #ccc;
}
#tag-list {
    flex-wrap: wrap;
}
#tag-list li {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
#tag-list li.selected {
    border: 2px solid #333;
}
#tag-list li:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {
    #search-results-container {
        width: 100%;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
    }
    #pinned-list li,
    #results-list li {
        padding: 8px;
        font-size: 0.9rem;
    }
    #docreview-logo,
    #security-logo {
        position: static;
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    #tag-popup {
        width: 90%;
    }
}
.assigned-tag {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 1px 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: 1;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    min-width: 46px;
    justify-content: center;
}
.help-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.help-table tbody td {
    text-align: center;
}
.help-table thead {
    background-color: #343a40;
    color: #fff;
}
.help-table thead th {
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.help-table tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}
.help-table tbody tr:nth-child(even) {
    background-color: #fff;
}
.help-table tbody td {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    width: 75%;
}
.help-table tbody td:first-child {
    text-align: center;
    width: 50px;
}
.help-table tfoot td {
    padding: 10px;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    background-color: #f1f1f1;
    color: #666;
}
.help-table tbody tr:hover {
    background-color: #f0f8ff;
}
.input-icon{
    position: relative;
    display: flex;
    align-items: center;
}
.input-icon img{
    position: absolute;
    right: 17px;
    pointer-events: none;
}
.form-control{
    border: 1px solid #E7E7E7;
    background: #F8FAFC;
    padding: 4px 39px 4px 17px;
    border-radius: 8px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #637381;
    width: 100%;
}
.form-control::placeholder{
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #637381;
}
.search-results-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 10px;
}
.search-results-buttons button{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;    
}
.search-results-buttons button.active span{
    border-width: 3px;
}
.search-results-buttons button span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #0DB14B;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}
@media (max-width: 768px) {
    .help-table tfoot,
    .help-table thead {
        display: none;
    }
    .help-table,
    .help-table tbody,
    .help-table td,
    .help-table tr {
        display: block;
        width: 100%;
    }
    .help-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .help-table td:first-child {
        text-align: left;
        padding-left: 15px;
    }
    .help-table td:before {
        content: attr(data-title);
        position: absolute;
        left: 15px;
        top: 10px;
        font-weight: 700;
    }
}
.shortcut-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.shortcut-table thead {
    background-color: #343a40;
    color: #fff;
}
.shortcut-table thead th {
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
}
.shortcut-table tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}
.shortcut-table tbody tr:nth-child(even) {
    background-color: #fff;
}
.shortcut-table tbody td {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.shortcut-table tbody tr:hover {
    background-color: #f0f8ff;
}
@media (max-width: 768px) {
    .shortcut-table thead {
        display: none;
    }
    .shortcut-table,
    .shortcut-table tbody,
    .shortcut-table td,
    .shortcut-table tr {
        display: block;
        width: 100%;
    }
    .shortcut-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .shortcut-table td:first-child {
        text-align: left;
        padding-left: 15px;
    }
    .shortcut-table td:before {
        content: attr(data-title);
        position: absolute;
        left: 15px;
        top: 10px;
        font-weight: 700;
    }
}
.info-text :nth-child(1) {
    font-size: 24px !important;
}
@media (min-width: 768px) {
    .help-container {
        flex-direction: row;
    }
    .help-section {
        width: 48%;
    }
}
@media (max-width: 768px) {
    #help-window {
        width: 95%;
        padding: 15px;
    }
    .help-section h2 {
        font-size: 1.2rem;
    }
    .help-section ul li {
        font-size: 0.9rem;
    }
    #keyboard-shortcuts li {
        font-size: 0.8rem;
    }
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #bc7070;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
.spinner, .spinner-search {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.spinner-search{
    position: absolute;
    top: 15%;
    left: 40%;
}
.spinner > div,
.spinner-search > div {
    width: 18px;
    height: 18px;
    background-color: #0db14b;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1,
.spinner-search .bounce1 {
    animation-delay: -0.32s;
}
.spinner .bounce2,
.spinner-search .bounce2 {
    animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.tag-dropdown{
    float: right;
    width: 57px;
    border: 1px solid #fff;
    /* padding-right: 4px; */
    padding-left: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    font-family: Open Sans;
    font-size: 6px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    height: 16px;
}
.tag-dropdown option{
    color: #000;
}
.tag-dropdown option:hover{color: #fff;}
.pinned-checkbox+span + span{float: right;}
@media (max-width: 1399px) {
    #toolbar{
        gap: 24px;
        padding-right: 12px;
        padding-left: 12px;
    }
}